@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
 }
 
 @font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
 }
 
 * {
    font-family: myFirstFont;
 }

.div1{
    position: absolute;
    width: 1047px;
    height: 1047px;
    left: -384px;
    top: 84px;
    background: #A991DB;
    opacity: 0.1;
    filter: blur(250px);
}
.div2{
    position: absolute;
    width: 506px;
    height: 506px;
    right: 0;
    top: 293px;
    opacity: 0.1;
    background: #FF975C;
    filter: blur(250px);
}
.div3{
    position: absolute;
    width: 506px;
    height: 506px;
    right: 0;
    top: -50px;
    opacity: 0.3;
    background: #5E3BFA;
    filter: blur(282px);
}
.div-main{
    background-color: #FFFFFF;
   
      
}
header{
    flex-direction: row;
    justify-content: space-between;
    padding-top: 9px;
    /* background-color: red; */
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 48px;
    margin-right: 48px;
}
.header-h2{
    color: #FF975C;
    font-size: 28px;
    font-family: 'myFirstFont';
    /*background-color: green;*/
    display: flex;   
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    padding: 0;
}
li{
   display: flex;
}
a{
    text-decoration: none;
}
nav.header-menu ul li a{
    font-family: 'myFirstFont';
    font-size: 16px;
    align-items: center;
    /*background-color: pink;*/
    display: flex;
    align-content: center;  
    color:#00ff00;
}
nav.header-menu ul li a.active{
    color:black;
}
.btn-header{
    background: #e0814b;
    color: #FFFFFF;
    border-radius: 10px;
    width: 140px;
    height: 52px;
    font-family: 'myFirstFont';
    font-size: 16px;
    border-width: 0;
    cursor: pointer;
}
.btn-header:hover{
    background-color: #FF975C;
    color:#FFFFFF
}
.section-head{
    max-width: 1440px;
    background-color: #A991DB;
    display: flex;
    flex-direction: column;
}
.main-sections{
     /* background-color: #A991DB;  */
    display: flex;
    margin-top: 20px;
    position: relative;
    flex-direction: row-reverse;
}
.sections{
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    flex:1;
    margin-bottom: 56px;
    margin-left: 48px;
}
.right-section{  
    background-color:rgba(255, 151, 92, 0.2);
    margin-right: 48px;
}


.form-right{
    flex-direction: column;
    display: flex;
    background-color: white; 
    margin: 38px;
    border-radius: 10px;
    padding-left: 45px;
    padding-right: 45px;
}
.h2-right-section{
    color: #1D193C;
    font-size: 24px;
    font-family: Inter;
    /* background-color: #FFFFFF; */
    margin-bottom: 10px;
}
.lable-text-input{
    display: flex;  
    flex-direction: column;
    /* background-color: #A19FAE; */
    margin-bottom: 12px;
}
.h6-right-section{
    margin-bottom: 8px;
    margin-top: 0px;
}
.input-text{
    border-width: 1px;
    border-color: #ECECEC;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Inter';
    padding-left: 16px;
}
.input{
    height: 36px;  
    color: #A19FAE;  
}
.input:hover{
    border-color: #5E3BFA;
}
.textarea{
    color: #000000;
    padding-top: 16px;
}
.textarea:hover{
    border-color: #5E3BFA;
}
.btn-submit{
    border-radius: 4px;
    background-color: #5E3BFA;
    color: #FFFFFF;
    font-size: 12px;
    height: 36px;
    border-width: 0px;
    margin-bottom: 24px;
}
.div-left{
    /* background-color: red; */
    padding-right: 45px;
    font-family: "myFirstFont";
}
/* .h6{
    margin-top: 0px;
    /* background-color: #A19FAE; 
    font-size: 20px;
    margin-bottom: 24px;
} */
.left-section-btn{
    /* background-color: #3bfa72; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    margin-top: 16px;
}
.left-section-btns{
    border-radius: 10px;
    height: 56px;
    width: 240px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter';
    border-width: 0;
    column-gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-google{
    background-color: #FF975C;
    flex-direction: row-reverse;
}
.btn-arrow{
    background-color: #5E3BFA;  
    flex-direction: row;  
    margin-right: 48px;  
}
.btn:hover {
    opacity: 0.9;
}
.img-btn{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 400px;
    border-width: 0;
}
/* .h4{
    font-size: 16px;
     background-color: #968ac9; 
   
} */
h1{
    /* background-color: #3bfa72; */
    margin-top: 12px;
    font-size: 60px;
    margin: 0px;
}
.p-left-section{
    font-size: 16px;
    color: #000000;
    font-family: Inter;
    margin-top: 24px;
}
.blog{
    display: flex;
    flex-direction: row;
    flex:1;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 24px;


}
.internal-blog-div{
    display: flex;
    flex-direction: column;
    background-color: #F9F7FC;
    margin: 30px;
    width: 374px;
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 10px;
    border-width: 0;
  
}
.blog-header{
    /* background-color: blueviolet; */
    /* justify-content: space-between; */
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 16px;
    align-items: center;

}
.img{
    background-color: #FFFFFF;
    margin-right: 16px;
    padding: 12px;
    width: 24px;
    height: 24px;
    border-width: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.blog-header-h6{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1D193C;
    margin: 0;
}
.blog-p{
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
    word-break: break-all;
    display: flex;
    color: #A19FAE;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: burlywood; */
}
.internal-blog-div:hover{
    background-color: #A19FAE;
    border-radius: 12px;
}
.movie{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(100, 110, 110); */
    margin-top: 24px;
    margin-left: 48px;
    margin-right: 48px;
}
.movie-header{
    background-color: #FF975C;
    display: flex;
    flex-direction: row;
    /* opacity: 0.2; */
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.movie-input{
    width: 710px;
    height: 30px;
    background: #F9F9FA;
    border-radius: 4px;
    border-width: 0;
}
.movie-img{
    height: 630px;
    display: flex;
}
.img-movie-header{
    margin-right: 16px;
    margin-left: 16px;
    padding: 5px;
    width: 24px;
    height: 24px;
    border-width: 0;
    border-radius: 1px;
}
